.blog-single {
    padding-bottom: 200px;
}
.blog-single-header {
    background: #d9d8dd;
    padding: 120px 0 213px 0;
    h1 {
        font-family: "Anya Tamy";
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 76px;
        text-transform: uppercase;
        color: $black-color;
        margin: 0;
        margin-top: 93px;
    }
}
.blog-single-image {
    position: relative;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
}
.blog-single-content {
    margin-top: -45px;
}
.blog-single-subtitle {
    font-family: "Anya Tamy";
    font-style: normal;
    font-weight: 400;
    margin: 0;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: $black-color;
    margin-bottom: 40px;
}
.blog-single-text {
    font-weight: 400;
    font-size: 21px;
    line-height: 34px;
    color: $black-color;
    margin: 0;
    &:not(:last-of-type) {
        margin-bottom: 35px;
    }
}
.blog-single-link {
    color: $pink-color;
    text-decoration: underline;
}
.blog-read-more {
    margin-top: 200px;
}
.blog-single-breadcrumbs {
    display: flex;
    align-items: flex-start;
    &-item {
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: $black-color;
		position: relative;
		&::before {
			position: absolute;
			bottom: 3px;
			content: '';
			width: 0%;
			height: 1px;
			background: $black-color;
			transition: width 0.3s ease-in-out;
		}
		&:hover {
			&:before {
				transition: width 0.3s ease-in-out;
				width: 100%;
			}
		}
    }
    &-delimiter {
        margin: 0 6px;
    }
}
.blog-read-more__title {
    font-family: "Anya Tamy";
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: left;
    text-transform: uppercase;
    color: $black-color;
}
.blog-read-more__items-wrapper {
    margin-top: 41px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
}
.blog-read-more__item-title {
    margin-top: 10px;
    font-family: "Anya Tamy";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    color: $black-color;
    margin-bottom: 0;
}
.blog-read-more__item-descr {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: $black-color;
    margin-top: 23px;
}
@media(max-width: 1720px) {
	.wide-container {
		padding: 0 320px;
	}
	.blog-single-breadcrumbs {
		position: relative;
		left: -165px;
	}
}
@media(max-width: 1550px) {
	.blog-single-header h1 {
		font-size: 48px;
		line-height: 57px;
	}
}
@media(max-width: 1440px) {
	.blog-single-breadcrumbs {
		position: relative;
		left: -200px;
	}
	.blog-single-header {
		background: #d9d8dd;
		padding: 70px 0 150px 0;
	}
	.blog-single-header h1 {
		font-size: 48px;
		line-height: 57px;
		margin-top: 78px;
	}
	.blog-single-image {
		top: -50px;
		width: calc(100% - 350px);
	}
	.blog-single-content {
		margin-top: 50px;
		.wide-container {
			padding: 0 250px;
		}
	}
	.blog-read-more {
		margin-top: 150px;
	}
	.blog-read-more__item-title {
		margin-top: 20px;
		font-family: "Anya Tamy";
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
		color: #464646;
		margin-bottom: 0;
	}
	.blog-read-more__item-descr {
		font-size: 16px;
line-height: 23px;
margin-top: 20px;
margin-bottom: 0;
	}
	.blog-single {
		padding-bottom: 150px;
	}
}
@media(max-width: 1280px) {
	.wide-container {
		padding: 0 200px;
	}
	.blog-single-breadcrumbs {
		left: -80px;
	}
	.blog-single-header h1 {
		max-width: 630px;
	}
	.blog-single-image {
		top: -50px;
		width: calc(100% - 280px);
	}
	.blog-single-header h1 {
		margin-top: 93px;
	}
	.blog-single-content .wide-container {
		padding: 0 200px;
	}
	.blog-single-text {
		font-size: 18px;
		line-height: 29px;
	}
	.blog-single-text:not(:last-of-type) {
		margin-bottom: 20px;
	}
	.blog-read-more__title {
		font-size: 32px;
		line-height: 38px;
	}
	.blog-read-more__items-wrapper {
		margin-top: 21px;
		grid-column-gap: 20px;
	}
	.blog-read-more__item-title {
		font-size: 20px;
		line-height: 24px;
	}
	.blog-read-more__item-descr {
		font-size: 14px;
		line-height: 18px;
		margin-top: 5px;
		margin-bottom: 0;
	}
	.blog-read-more__item-title {
		margin-top: 10px;
	}
	.blog-single-header h1 {
		font-size: 44px;
		line-height: 50px;
		margin-top: 78px;
	}
}
