.cookie-alert {
    width: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
    position: fixed;
    z-index: 15;
    bottom: 80px;
    right: 0;
}

.cookie-wrapper {
    background: #f4eeea;
    border: 1px solid #464646;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 440px;
    padding: 30px;
    padding-bottom: 36px;
    &_text {
        font-weight: 400;
        font-size: 21px;
        line-height: 27px;
        color: #161616;
        margin-top: 0;
    }
    &_link {
        font-weight: 400;
        font-size: 21px;
        line-height: 27px;
        color: $pink-color;
    }
    &_btn {
        margin-top: 37px;
        display: block;
        max-width: 182px;
    }
}
@media(max-width: 1440px) {
	.cookie-alert {
		padding-right: 108px;
	}
}
@media(max-width: 1024px) {
	.cookie-alert {
		padding-right: 82px;
	}
}
@media(max-width: 992px) {
	.cookie-alert {
		padding-right: 42px;
	}
}
@media(max-width: 700px) {
	.cookie-alert {
		padding-right: 15px;
	}
	.cookie-wrapper_btn {
		margin-top: 15px;
		display: block;
		max-width: 155px;
	}
	.cookie-wrapper {
		padding: 20px;
	}
	.cookie-wrapper_text, .cookie-wrapper_link {
		font-size: 16px;
		line-height: 18px;
	}
}
@media(max-width: 500px) {
	.cookie-alert {
		padding-right: 0;
		bottom: 0;
	}
	.cookie-wrapper_btn {
		margin: 15px auto 0
	}
	.cookie-wrapper_text {
		text-align: center;
	}
}
