.stories.single {
	padding-top: calc(40px + 76px);
	padding-bottom: 200px;
	.stories-items__wrapper {
		margin-top: 0px;
	}
	.stories-images{
		margin-bottom: 200px;
	}
}
.stories-single-header {
	display: flex;
}
.stories-single-breadcrumbs {
    display: flex;
    align-items: flex-start;
    &-item {
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: $black-color;
		position: relative;
		&::before {
			position: absolute;
			bottom: 3px;
			content: '';
			width: 0%;
			height: 1px;
			background: $black-color;
			transition: width 0.3s ease-in-out;
		}
		&:hover {
			&:before {
				transition: width 0.3s ease-in-out;
				width: 100%;
			}
		}
    }
    &-delimiter {
        margin: 0 6px;
    }
}
.stories-single-title-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: -25px;
}

.stories-single__title {
	font-family: 'Jomolhari';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 83px;
/* identical to box height */
margin: 0;

letter-spacing: -0.1em;
color: #B04252;

}
.stories-single__subtitle {
	font-family: 'Anya Tamy';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 41px;
margin: 0;
margin-top: 50px;
margin-bottom: 25px;
color:$black-color
}
.stories-images {
	margin-top: 100px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(12, auto);
	grid-column-gap: 40px;
	grid-row-gap: 40px;
}
.stories-image {
	border-radius: 5px;
	outline: 10px solid #FAFAFA;
	outline-offset: -10px;
	display: flex;
	height: 100%;
	width: 100%;
	transition: all 0.3s ease-in-out;
	cursor: zoom-in;
	&:hover {
		transition: all 0.3s ease-in-out;
		filter: drop-shadow(0px 7px 15px rgba(0, 0, 0, 0.1));
		outline: 10px solid #D9D8DD;
	}
}

.stories-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #EEDCC3;
	z-index: 555;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
	opacity: 0;
	&.open {
		transition: all 0.3s ease-in-out;
		visibility: visible;
		opacity: 1;
	}
}
.stories-modal-content {
	display: flex;
	align-items: flex-start;
	position: relative;
	width: 75%;
	height: 80%;
	max-width: 1287px;
	max-height: 850px;
	img {
		width: 100%;
		height: 100%;
		outline: 10px solid #FAFAFA;
		outline-offset: -10px;
		&.chosen {
			cursor: zoom-out;
		}
	}
}
.stories-modal-close {
	width: 65px;
	height: 65px;
	min-width: 65px;
	min-height: 65px;
	background-color: #FAFAFA;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	right: 0px;
	top: 0;
	svg {
		width: 23px;
		height: 25px;
		transition: all 0.3s ease-in-out;
	}
	&:hover {
		svg {
			transition: all 0.3s ease-in-out;
			transform: rotate(90deg);
		}
	}
}

.image-1 { grid-area: 1 / 1 / 5 / 1; }
.image-2 { grid-area: 1 / 2 / 3 / 2; }
.image-3 { grid-area: 3 / 2 / 5 / 3; }
.image-4 { grid-area: 1 / 3 / 4 / 4; }
.image-5 { grid-area: 5 / 1 / 7 / 3; }
.image-6 { grid-area: 4 / 3 / 7 / 4; }
.image-7 { grid-area: 7 / 1 / 10 / 2; }
.image-8 { grid-area: 7 / 2 / 11 / 3; }
.image-9 { grid-area: 7 / 3 / 9 / 4; }
.image-10 { grid-area: 9 / 3 / 11 / 4; }
.image-11 { grid-area: 10 / 1 / 13 / 2; }
.image-12 { grid-area: 11 / 2 / 13 / 4; }

.image-13 { grid-area: 13 / 1 / 17 / 2; }
.image-14 { grid-area: 13 / 2 / 15 / 3; }
.image-15 { grid-area: 15 / 2 / 17 / 3; }
.image-16 { grid-area: 13 / 3 / 16 / 3; }
.image-17 { grid-area: 17 / 1 / 19 / 3; }
.image-18 { grid-area: 16 / 3 / 19 / 4; }
.stories-see-more {
	font-family: 'Anya Tamy';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;
text-align: center;
text-transform: uppercase;
display: flex;
margin: 0 0 20px auto;
align-items: center;
max-width: 182px;
span {
	position: relative;
	top: 4px;
}
color: $black-color;
transition: all 0.3s ease-in-out;
svg {
	position: relative;
	right: 0;
	margin-left: 15px;
	transition: all 0.3s ease-in-out;
	path {
		fill: $black-color;
		transition: all 0.3s ease-in-out;
	}
}
&:hover {
	color: $pink-color;
	transition: all 0.3s ease-in-out;
	svg {
		right: -15px;
		transition: all 0.3s ease-in-out;
		path {
			transition: all 0.3s ease-in-out;
			fill: $pink-color;
		}
	}
}
}
.stories-single-contacts {
	margin-top: 200px;
	background: #F4EEEA;
border: 1px solid #464646;
/* Тень */

box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
border-radius: 5px;
padding: 41px 0 42px 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
position: relative;
&__text {
	margin: 0;
	font-family: 'Anya Tamy';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 41px;
	color: #464646;
}
&__btn {
	margin-top: 44px;
}
}

@media(max-width: 1440px) {
	.stories.single {
		padding-top: 70px;
		padding-bottom: 150px;
		.stories-item__title {
			margin-top: 6px;
		}
	}
	.stories-single-breadcrumbs-item {
		font-size: 15px;
		line-height: 24px;
	}
	.stories-single__subtitle {
		margin-top: 20px;
		font-size: 21px;
		line-height: 41px;
		margin-bottom: 20px;
	}
	.stories.single .stories-images {
		margin-bottom: 157px;
	}
	.stories-see-more {
		font-size: 24px;
		line-height: 28px;
		max-width: 127px
	}
	.stories-see-more svg {
		height: 100%;
	}
	.stories-single-contacts {
		margin-top: 100px;
		box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		padding: 30px 0 25px 0;
	}
	.stories-single-contacts__text {
		font-size: 24px;
	}
	.stories-single-contacts__btn {
		margin-top: 30px;
	}
}

@media(max-width: 1280px) {
	.stories-single__subtitle {
		margin-bottom: 26px;
	}
	.stories.single .stories-images {
		margin-bottom: 113px;
	}
	.stories-images {
		grid-column-gap: 30px;
		grid-row-gap: 30px;
	}
	.stories.single .stories-item__title {
		margin-top: 27px;
	}
	.stories.single .stories-item__title {
		font-size: 21px;
		line-height: 25px;
	}
	.stories-single-contacts {
		margin-top: 200px;
	}
}
// TODO tablet images
@media(max-width: 992px) {
	.stories-single__title {
		font-size: 40px;
line-height: 64px;
	}
	.stories-single__subtitle {
		margin-top: 30px;
		margin-bottom: 20px;
		font-size: 18px;
line-height: 41px;
	}
	.stories-single-title-wrapper {
		margin-top: 0;
	}
	.stories-single-breadcrumbs-item {
		font-size: 12px;
		line-height: 19px;
	}
	.stories.single .stories-images {
		margin-top: 60px;
		margin-bottom: 150px;
	}
	.stories-single-contacts {
		margin-top: 150px;
	}
	.stories.single .stories-images {
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		grid-template-columns: 1fr 1fr;
	}

	.stories.single .stories-images {
		grid-column-gap: 00px;
		grid-row-gap: 20px;
		grid-template-columns: 1fr;
	}
	.stories-image {
		grid-area: auto;
	}
}
@media(max-width: 700px) {
	.stories.single .stories-item__title {
		margin-top: 15px;
	}
	.stories.single {
		padding-bottom: 100px;
	}
	.stories-single-contacts {
		margin-top: 100px;
	}
	.stories-single__subtitle {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 16px;
		text-align: center;
		line-height: 22px;
	}
	.stories-single-contacts__btn {
		margin-top: 15px;
	}
	.stories.single .stories-images {
		margin-bottom: 100px;
		margin-top: 50px;
	}
	.stories.single .stories-images {
		grid-column-gap: 00px;
		grid-row-gap: 20px;
		grid-template-columns: 1fr;
	}
	.stories-image {
		grid-area: auto;
	}
	.stories-modal-close {
		width: 32px;
		height: 32px;
		min-width: 32px;
		min-height:32px;

	}
	.stories-modal-close svg {
		width: 12px;
		height: 12px;
	}

}
@media(max-width: 410px) {
	.stories-single-contacts__text {
		font-size: 20px;
		line-height: 24px;
	}
	.stories-single-contacts {
		padding: 20px 0 10px 0;
	}
}
