.stories {
    padding: 200px 0 170px 0;
    &-items__wrapper {
        margin-top: 206px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 40px;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &__image {
            max-width: 514px;
            max-height: 513px;
			width: 100%;
        }
        &__title {
            margin-top: 10px;
            font-family: "Anya Tamy";
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 41px;
            color: $black-color;
            margin-bottom: 0;
        }
    }
	.quote q::after {
		right: -60px;
	}
}
@media(max-width: 1440px) {
	.stories {
		padding: 150px 0 150px 0;
		.quote q {
			font-size: 24px;
			line-height: 38px;
		}
		.quote q::before {
			content: "";
			left: -30px;
			top: 0;
			background: url(../../img/quoute-before.svg);
			width: 24px;
			height: 16px;
			position: absolute;
			background-size: cover;
		}
		 .quote q::after {
			right: -50px;
			width: 24px;
			height: 16px;
			position: absolute;
			background-size: cover;
		}
		.quote-image {
			margin-top: 50px;
		}
		.stories-items__wrapper {
			margin-top: 150px;
		}
		.stories-item__title {
			margin-top: 20px;
			font-size: 24px;
			line-height: 28px;
		}
	}
}
@media(max-width: 1280px) {


	.stories-item__title {
		font-size: 21px;
		line-height: 25px;
	}
	.stories-items__wrapper {
		grid-column-gap: 20px;
	}
}
@media(max-width: 992px) {
	.stories .quote q {
		font-size: 21px;
		line-height: 30px;
		max-width: 90%;
	}
	.stories .quote-image {
		margin-top: 40px;
	}
	.stories {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.stories .quote q {
		font-size: 17px;
line-height: 24px;
		max-width: 90%;
	}
	.stories .stories-items__wrapper {
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 50px;
	}
	.stories .stories-item__title {
		font-size: 21px;
		line-height: 25px;
	}
}
@media(max-width: 700px) {
	.stories .stories-items__wrapper {
		margin-top: 100px;
		grid-template-columns: 1fr;
		place-items: center;
		grid-row-gap: 40px;
		grid-column-gap: 0;
	}
	.stories .quote q {
		font-size: 17px;
		line-height: 24px;
		max-width: 200px;
	}
}
