.wedding-blog {
    position: relative;
    padding-top: 200px;
	padding-bottom: 200px;
	&__text-wrapper {
        max-width: 512px;
    }
    &__title {
        font-family: "Anya Tamy";
        font-style: normal;
        font-weight: 400;
        font-size: 108px;
        line-height: 128px;
        text-transform: uppercase;
        color: $pink-color;
		margin: 0;
    }
	&__text {
		padding-right: 50px;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		color: $black-color;
		margin: 0;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	&-wrapper {
		display: flex;
		justify-content: space-between;
		gap: 40px;
	}
	.wedding-blog__images-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 40px;
		.wedding-blog__images-column:first-child {
			.wedding-blog__images-item {
				&:last-child {
					margin-top: 100px;
				}
			}
		}
	}
}
.wedding-blog__images-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 29px;
	text-transform: uppercase;
	margin: 0;
	margin-top: 20px;
	color: $black-color
}
.wedding-btn {
	display: block;
	max-width: 183px;
}
.wedding-btn span {
    position: relative;
    top: 5px;
}
@media(max-width: 1440px) {
	.wedding-blog-image {
		max-width: 350px;
	}
	.wedding-blog__title {
		font-size: 74px;
		line-height: 87px;
	}
	.wedding-blog__text {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 50px;
	}
	.wedding-blog__images-title {
		margin-top: 13px;
	}
	.wedding-blog {
		padding-top: 150px;
		padding-bottom: 150px;
		overflow: hidden;
	}
}
@media(max-width: 1340px) {
	.wedding-blog__title {
		font-size: 58px;
line-height: 69px;
	}
	.wedding-blog-wrapper {
		gap: 20px;
	}
}
@media(max-width: 1280px) {
	.wedding-blog .wedding-blog__images-wrapper {
		gap: 20px;
	}
	.wedding-blog {
		.contacts-bg {
			bottom: 50%;
			transform: translate(-50%, 50%)
		}
	}
	.wedding-blog__images-title {
		font-size: 16px;
line-height: 26px;
margin-top: 10px;
	}
	.wedding-blog-image {
		max-width: 300px;
	}
}
@media(max-width: 1180px) {
	.wedding-blog-image {
		max-width: 273px;
	}
}
@media(max-width: 1160px) and (min-width: 1024px) {
	.wedding-blog__title {
		font-size: 50px;
		line-height: 52px;
	}
}
@media(max-width: 992px) {
	.wedding-blog-wrapper {
		flex-direction: column;
		align-items: center;
		gap: 100px;
	}
	.wedding-blog__title {
		text-align: center;
		br {
			display: none;
		}
	}
	.wedding-blog__text {
		padding-right: 0;
		margin-top: 50px;
		text-align: center;
	}
	.wedding-btn {
		margin: 0 auto;
	}
	.wedding-blog .contacts-bg {
		bottom: 60%;
	}
	.wedding-blog .wedding-blog__images-wrapper {
		flex-direction: column;
		align-items: center;
	}
	.wedding-blog__images-title {
		font-size: 18px;
		margin-top: 20px;
		line-height: 29px;
	}
	.wedding-blog-image {
		max-width: 514px;
	}
	.wedding-blog .wedding-blog__images-wrapper {
		gap: 50px;
	}
	.wedding-blog .wedding-blog__images-wrapper .wedding-blog__images-column:first-child .wedding-blog__images-item:last-child {
		margin-top: 50px;
	}
	.wedding-blog .contacts-bg {
		top: 0;
		bottom: auto;
		transform: translate(-50%, 0);
	}
	.wedding-blog {
		padding-top: 0;
		margin-top: 150px;
	}
}
@media(max-width: 700px) {
	.wedding-btn {
		display: block;
		max-width: 145px;
	}
	.wedding-blog__text-wrapper {
		max-width: 514px;
	}
	.wedding-blog {
		padding-bottom: 100px;
	}
	.wedding-blog__title {
		font-size: 48px;
		line-height: 58px;
	}
	.wedding-blog__text {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.wedding-blog .contacts-bg {
		display: block;
		max-width: 100%;
		top: 100px;
		width: 100%;
		min-width: 600px;
	}

	.wedding-blog-image {
		max-width: 100%;
		width: 100%;
	}
	.wedding-blog-wrapper {
		gap: 50px;
	}
	.wedding-blog__images-title {
		font-size: 16px;
line-height: 26px;
margin-top: 10px;
	}
	.wedding-blog .wedding-blog__images-wrapper .wedding-blog__images-column:first-child .wedding-blog__images-item:last-child {
		margin-top: 20px;
	}
	.wedding-blog .wedding-blog__images-wrapper {
		gap: 20px;
	}
}
