.welcome {
    position: relative;
    padding-top: 200px;
    .background-text {
        top: -50px;
        transform: translate(-50%, 0);
		font-size: 278.271px;
        color: #f4ece7;
    }
    .container {
        position: relative;
        z-index: 1;
    }
}
.welcome__item-img {
    transition: all 0.3s ease-in-out;
	outline: 10px solid #FAFAFA;
	outline-offset: -9px;
    &:hover {
        transition: all 0.3s ease-in-out;
		filter: drop-shadow(0px 7px 15px rgba(0, 0, 0, 0.1));
		outline: 10px solid #D9D8DD;;

	}
}
.welcome__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
	gap: 40px;
}

.welcome__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid $pink-color;
    &-title {
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 42px;
        line-height: 50px;
        color: #b04252;
        font-family: "Anya Tamy";
    }
}
.why {
	display: flex;
	padding-left: 150px;
	margin-top: 200px;
	position: relative;
	overflow: hidden;
	&::after {
		content: '';
		background: linear-gradient(270deg, #EDE3DE -5.15%, rgba(237, 227, 222, 0) 100%);
		top: 0;
		right: 0;
		z-index: 1;
		position: absolute;
		height: 100%;
		width: 30%;
	}
	gap: 40px;
	&__text-wrapper {
		max-width: 514px;
		margin-top: 20px;
	}
	&__title {
		font-family: 'Anya Tamy';
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 43px;
		margin: 0;
		color: $pink-color;
	}
	&__text {
		margin: 0;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		color: $black-color;
		margin-top: 40px;
	}
	&__btn {
		display: block;
		max-width: 210px;
		margin-top: 60px;
		box-sizing: border-box;
	}
	&__images-wrapper {
		flex-wrap: nowrap;
		display: flex;
		align-items: flex-start;
		gap: 40px;
	}
}
@media(max-width: 1880px) {
	.welcome .background-text {
		font-size: 278.271px;
		top: -0px;
	}
	.welcome {
		padding-top: 150px;
	}
	.welcome .quote q {
		font-size: 24px;
		line-height: 38px;
		max-width: 650px;
	}
	.welcome__item-title {
		font-size: 36px;
		line-height: 43px;
	}
}
@media(max-width: 1440px) {
	.why {
		margin-top: 150px;
		padding-left: 108px;
	}
	.why__text-wrapper {
		margin-top: 0;
	}
	.why__btn {
		margin-top: 50px;
	}
	.why__text-wrapper {
		margin-top: 0;
		max-width: 355px;
	}
	.why-image {
		max-width: 350px;
	}
	.why__images-wrapper {
		max-width: 785px;
	}
}
@media(max-width: 1280px) {
	.welcome .background-text {
		font-size: 238.27px;
	}
	.welcome__wrapper {
		gap: 20px;
	}
	.welcome__item-title {
		font-size: 32px;
line-height: 38px;
	}
	.why__text {
		margin: 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #464646;
		margin-top: 30px;
	}
	.why__btn {
		margin-top: 40px;
	}
	.why__images-wrapper {
		max-width: 650px;
		gap: 20px;
	}
	.why-image {
		max-width: 273px;
	}
}
