<div class="me main-me">
    <div class="background-text">Who I am</div>
    <div class="container">
        <img src="./img/about.png" alt="Me" class="me-image" />
        <div class="me-text__wrapper">
            <h2 class="me-text__title">Who I am</h2>
            <p class="me-text__descr">
                Ciao! I’m Tania. I live in Florence and specialize in creating
                all kinds of events in Italy: from small intimate gatherings to
                grand corporate events, weddings, and other great occasions, in
                other words, the sky is the limit. My event boutique runs on a
                “bespoke” service principle.
            </p>
            <p class="me-text__descr">
                I plan and coordinate personalized events with the artistic
                imagination to the guest’s utter delight and within the client’s
                reasonable budget. I have been extensively travelling in Italy
                for over a decade and managed to discover the real gems of this
                country! I’m always buzzing with energy, enthusiasm and
                curiosity to get to know more about Italy, its treasures, the
                best hospitality, catering and other spots it can offer.
            </p>
            <a href="" class="btn me-button">Contact me</a>
        </div>
    </div>
</div>
