<section class="blog">
    <div class="container">
        <div class="blog-wrapper">
            <div class="navigation-wrapper">
                <h2 class="navigation__title">Topics</h2>
                <div class="navigation-items__wrapper">
                    <h3 class="navigation-item active">All Articles</h3>
                    <h3 class="navigation-item">Filter point</h3>
                    <h3 class="navigation-item">Filter point</h3>
                    <h3 class="navigation-item">Filter point</h3>
                    <h3 class="navigation-item">Filter point</h3>
                </div>
				<div class="navigation-items__wrapper--mobile">
					<div class="filter__title-wrapper">
						<h3 class="filter__title">All articles</h3>
						<svg width="11" height="5" viewBox="0 0 11 5" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5.5 5L4.37114e-07 -4.84813e-07L5.5 1.77778L11 4.76837e-07L5.5 5Z" fill="#B04252"/>
							</svg>

					</div>
					<div class="filter__items-wrapper">
						<h3 class="filter__item active">All Articles</h3>
						<h3 class="filter__item">Filter point</h3>
						<h3 class="filter__item">Filter point</h3>
						<h3 class="filter__item">Filter point</h3>
						<h3 class="filter__item">Filter point</h3>

					</div>
				</div>
            </div>
            <div class="articles-wrapper">
                <h2 class="articles__title">All Articles</h2>
                <div class="articles-items__wrapper">
                    <a href="/blog-single.html">
                        <div class="articles-item">
                            <img
                                src="./img/blog.png"
                                alt="Post image"
                                class="article-item__image" />
                            <h4 class="article-item__title">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </h4>
                            <p class="article-item__descr">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </p>
                        </div>
                    </a>
                    <a href="/blog-single.html">
                        <div class="articles-item">
                            <img
                                src="./img/blog.png"
                                alt="Post image"
                                class="article-item__image" />
                            <h4 class="article-item__title">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </h4>
                            <p class="article-item__descr">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </p>
                        </div>
                    </a>
                    <a href="/blog-single.html">
                        <div class="articles-item">
                            <img
                                src="./img/blog.png"
                                alt="Post image"
                                class="article-item__image" />
                            <h4 class="article-item__title">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </h4>
                            <p class="article-item__descr">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </p>
                        </div>
                    </a>
                    <a href="/blog-single.html">
                        <div class="articles-item">
                            <img
                                src="./img/blog.png"
                                alt="Post image"
                                class="article-item__image" />
                            <h4 class="article-item__title">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </h4>
                            <p class="article-item__descr">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </p>
                        </div>
                    </a>
                    <a href="/blog-single.html">
                        <div class="articles-item">
                            <img
                                src="./img/blog.png"
                                alt="Post image"
                                class="article-item__image" />
                            <h4 class="article-item__title">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </h4>
                            <p class="article-item__descr">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </p>
                        </div>
                    </a>
                    <a href="/blog-single.html">
                        <div class="articles-item">
                            <img
                                src="./img/blog.png"
                                alt="Post image"
                                class="article-item__image" />
                            <h4 class="article-item__title">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </h4>
                            <p class="article-item__descr">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </p>
                        </div>
                    </a>
                    <a href="/blog-single.html">
                        <div class="articles-item">
                            <img
                                src="./img/blog.png"
                                alt="Post image"
                                class="article-item__image" />
                            <h4 class="article-item__title">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </h4>
                            <p class="article-item__descr">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </p>
                        </div>
                    </a>
                    <a href="/blog-single.html">
                        <div class="articles-item">
                            <img
                                src="./img/blog.png"
                                alt="Post image"
                                class="article-item__image" />
                            <h4 class="article-item__title">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </h4>
                            <p class="article-item__descr">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </p>
                        </div>
                    </a>
                    <a href="/blog-single.html">
                        <div class="articles-item">
                            <img
                                src="./img/blog.png"
                                alt="Post image"
                                class="article-item__image" />
                            <h4 class="article-item__title">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </h4>
                            <p class="article-item__descr">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </p>
                        </div>
                    </a>
                    <a href="/blog-single.html">
                        <div class="articles-item">
                            <img
                                src="./img/blog.png"
                                alt="Post image"
                                class="article-item__image" />
                            <h4 class="article-item__title">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </h4>
                            <p class="article-item__descr">
                                Lorem ipsum dolor ipsum ipsum ipsum ipsum
                            </p>
                        </div>
                    </a>
                </div>
                <div class="pagination-wrapper">
                    <div class="arrow-prev pagination-blog-arrow">
                        <svg
                            width="10"
                            height="22"
                            viewBox="0 0 10 22"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.996095 11.498L9.9961 0.998048L6.79609 11.498L9.99609 21.998L0.996095 11.498Z"
                                fill="#464646" />
                        </svg>
                    </div>
                    <div class="pagination-bullet-wrapper">
                        <div class="pagination-bullet active">
                            <span>1</span>
                        </div>
                        <div class="pagination-bullet"><span>2</span></div>
                    </div>
                    <div class="arrow-next pagination-blog-arrow">
                        <svg
                            width="10"
                            height="21"
                            viewBox="0 0 10 21"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.00195 10.5L0.00195316 21L3.20195 10.5L0.00195408 -3.93402e-07L9.00195 10.5Z"
                                fill="#464646" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
