<section class="blog-single">
    <div class="blog-single-header">
        <div class="wide-container">
            <div class="blog-single-breadcrumbs">
                <a href="" class="blog-single-breadcrumbs-item"> Lorem ipsum</a>
                <div
                    class="blog-single-breadcrumbs-item blog-single-breadcrumbs-delimiter">
                    \
                </div>
                <a href="" class="blog-single-breadcrumbs-item"> Lorem ipsum</a>
            </div>
            <h1>Lorem ipsum dolor ipsum ipsum ipsum ipsum</h1>
        </div>
    </div>
    <img src="./img/blog-photo.png" class="blog-single-image" />
    <div class="blog-single-content">
        <div class="wide-container">
            <h2 class="blog-single-subtitle">
                Lorem ipsum dolor ipsum ipsum ipsum ipsum
            </h2>
            <p class="blog-single-text">
                As your wedding planners, we listen to you and we truly care. We
                keep you updated throughout the process. We’re generous with our
                time, schedule regular meetings, and connect you with likeminded
                suppliers we know you’ll love as much as we do. More often than
                not we’ll also become really good friends; as getting to know
                each other socially is, in our opinion, an equally essential
                ingredient to planning your wedding.
            </p>
            <p class="blog-single-text">
                And whilst we’ll
                <a href="" class="blog-single-link">work closely</a> together in
                the lead up to your wedding, we wouldn’t be able to do what we
                do without the creative, exceptionally talented suppliers that
                support us and your vision. On the day, you’ll find us working
                alongside each other, as a cohesive team, one step ahead of
                every detail. Together, we are your personal team of
                experienced, talented experts, all dedicated to creating and
                providing you with a wedding like no other.
            </p>
        </div>
    </div>
    <div class="blog-read-more">
        <div class="container">
            <h3 class="blog-read-more__title">read more</h3>
            <div class="blog-read-more__items-wrapper">
                <div class="blog-read-more__item">
                    <img
                        src="./img/Stories.png"
                        alt="Post image"
                        class="blog-read-more__item-image" />
                    <h4 class="blog-read-more__item-title">
                        Lorem ipsum dolor ipsum ipsum ipsum ipsum
                    </h4>
                    <p class="blog-read-more__item-descr">
                        Lorem ipsum dolor ipsum ipsum ipsum ipsum
                    </p>
                </div>
                <div class="blog-read-more__item">
                    <img
                        src="./img/Stories.png"
                        alt="Post image"
                        class="blog-read-more__item-image" />
                    <h4 class="blog-read-more__item-title">
                        Lorem ipsum dolor ipsum ipsum ipsum ipsum
                    </h4>
                    <p class="blog-read-more__item-descr">
                        Lorem ipsum dolor ipsum ipsum ipsum ipsum
                    </p>
                </div>
                <div class="blog-read-more__item">
                    <img
                        src="./img/Stories.png"
                        alt="Post image"
                        class="blog-read-more__item-image" />
                    <h4 class="blog-read-more__item-title">
                        Lorem ipsum dolor ipsum ipsum ipsum ipsum
                    </h4>
                    <p class="blog-read-more__item-descr">
                        Lorem ipsum dolor ipsum ipsum ipsum ipsum
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
