<section class="contacts">
    <div class="container">
        <div class="contacts-wrapper">
            <div class="contacts-text-wrapper">
                <h3 class="contacts-text-wrapper__title">Lorem ipsum dolor</h3>
                <p class="contacts-text-wrapper__descr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Dignissim aenean eget ornare amet sit. Etiam nam sit vivamus
                    in vitae. Enim pulvinar quam lectus sit varius. Auctor
                    adipiscing pharetra nunc dui. Euismod fringilla quisque
                    volutpat nunc. Eu donec senectus sed elementum est sed amet
                    eget. Dictum libero turpis leo ac nibh. Velit ipsum, at
                    aliquam, pharetra. Ut volutpat, venenatis, a odio arcu sit
                    quis pellentesque elit.
                </p>
            </div>
            <form action="">
                <input
                    placeholder="YOUR NAME*"
                    type="text"
                    class="contacts-input" />
                <input
                    placeholder="EMAIL ADDRESS*"
                    type="text"
                    class="contacts-input" />
                <input placeholder="PHONE" type="text" class="contacts-input" />
                <input
                    placeholder="DATE OF EVENT"
                    type="text"
                    class="contacts-input" />
                <textarea
                    name=""
                    id=""
                    placeholder="EVENT DETAILS"
                    class="contacts-text"></textarea>
                <a href="" class="btn form-btn"><span>Submit</span></a>
            </form>
        </div>
    </div>
    <img src="./img/contacts-bg.png" alt="bg" class="contacts-bg" />
</section>
