<div class="cookie-alert">
    <div class="cookie-wrapper">
        <p class="cookie-wrapper_text">
            We use cookies to enhance your browsing experience, serve
            personalized ads or content, and analyze our traffic. By clicking
            "Accept All", you consent to our use of cookies.
            <a href="#" class="cookie-wrapper_link link">Read More</a>
        </p>
        <a href="#" class="cookie-wrapper_btn btn-reset btn"
            ><span>Accept All</span></a
        >
    </div>
</div>
