<div class="promo">
  <div class="promo-swiper">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" style="background-image: url('./img/promo-bg.png')">
       <div class="promo-swiper__text">
         <h2 class="promo-swiper__title">
           Benvenuti
         </h2>
         <p class="promo-swiper__descr">
           Come to Italy and let your event experience surpass the wildest expectations. A presto!
         </p>
       </div>
      </div>
		<div class="swiper-slide" style="background-image: url('./img/promo-bg.png')">
			<div class="promo-swiper__text">
				<h2 class="promo-swiper__title">
					Benvenuti
				</h2>
				<p class="promo-swiper__descr">
					Come to Italy and let your event experience surpass the wildest expectations. A presto!
				</p>
			</div>
		</div>
		<div class="swiper-slide" style="background-image: url('./img/promo-bg.png')">
			<div class="promo-swiper__text">
				<h2 class="promo-swiper__title">
					Benvenuti
				</h2>
				<p class="promo-swiper__descr">
					Come to Italy and let your event experience surpass the wildest expectations. A presto!
				</p>
			</div>
		</div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-navigation">
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <!-- Additional required wrapper -->
	<div class="scroll-down">
		<a href="#">
			<div id="mouse-scroll">
				<div class="mouse">
					<div class="mouse-in"></div>
				</div>
			</div>
		</a>
	</div>
</div>

</div>


