<section class="service">
    <div class="container">
		<div class="quote">
            <q>Happy marriages begin when we marry the ones we love, and they blossom when we love the ones we marry</q>
            <img src="./img/quoute.svg" alt="quote image" class="quote-image" />
        </div>
		<h3 class="service__subtitle">What we have to offer</h3>
		<div class="service-item__wrapper">
			<div class="service-item">
				<div class="service-item__text-wrapper">
					<h4 class="service-item__text-title">Weddings</h4>
					<p class="service-item__text-descr"> Looking for a romantic and creative way to get married in Italy? You have come to the right place! We organize weddings of any scale and sophistication be it a luxury wedding with hundreds of guests or an intimate elopement just for the two of you</p>
					<p class="service-item__text-descr"> Your wedding is tailor-made to suit your ideas about it. It is a special event for me and my team. I treat each wedding with a fresh perspective, focusing on the individuality of the couple since every couple is unique. I design a bespoke service and organize your exclusive wedding in a way which nobody has never had. Having considered your visions, the story of your couple, your style and wishes, I channel all my creative energy into formulating a design concept and cast a spell with my magic wand to create a flawlessly fantastic wedding! I make no difference between people and welcome folks from all walks of life. My event boutique runs on a human-friendly basis, everybody is entitled to have a fairytale in their lives, that is why I also tend to the needs of same-sex couples. A wedding is a sensitive and delicate matter for many people, that is why everybody is treated with utmost discretion.</p>
					<div class="service-read-more">
						Read more <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13 0.99999L7 6.99998L1.00001 0.99999" stroke="#464646" stroke-width="2" stroke-linecap="round"/>
							</svg>
					</div>
				</div>
				<img src="./img/service-image-1.png" alt="Service image" class="service-item__image">
			</div>
			<div class="service-item">
				<div class="service-item__text-wrapper">
					<h4 class="service-item__text-title">Private events</h4>
					<p class="service-item__text-descr"> Inspiration wanted? Often times, people fail to create a miracle out of an occasion they want to celebrate. Yet, we are the event boutique that never fails to impress.</p>
					<p class="service-item__text-descr"> A birthday party, friends meetings, a celebration of any kind, an anniversary and even a divorce party - the sky is the limit to the range of events you can get! My event boutique produces customized deals of all shapes and sizes. We can handle your private party project and make you the protagonist of your own movie or the lead character of your own story. We design and plan a party to create a memorable day that is all about you. My fantastic team helps me bring about the best results whatever the occasion demands. We work to create a WOW effect! We can handle your private party project and make you the protagonist of your own movie or the lead character of your own story. We design and plan a party to create a memorable day that is all about you. My fantastic team helps me bring about the best results whatever the occasion demands.</p>
				</div>
				<img src="./img/service-image-2.png" alt="Service image" class="service-item__image">
			</div>
		</div>
		<div class="invite">
			<h4 class="invite-text">I invite you to sign up for a free consultation</h4>
			<a href="" class="btn invite-btn"><span>Contact me</span></a>
		</div>

	</div>
	<h3 class="mobile-slide-title">Where to get married in Italy </h3>
		<h4 class="mobile-slide-subtitle">Venues </h4>
		<div class="about-swiper swiper">
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div
					class="swiper-slide"
					data-explore-link="/1"
					style="background-image: url('./img/about-slider-image.png')">
					<div class="promo-swiper__text">
						<h2 class="about-swiper__title">Benvenuti</h2>
						<p class="about-swiper__descr">
							Neque quam diam et sed nunc aliquam. Nunc volutpat
							bibendum eros, vitae. Accumsan egestas in vestibulum eu,
							eget dapibus diam blandit lobortis. Sed nulla semper
							adipiscing amet in porttitor cras. Ornare amet diam
							turpis pharetra, faucibus.
						</p>
					</div>
				</div>
				<div
					class="swiper-slide"
					data-explore-link="/2"
					style="background-image: url('./img/about-slider-image.png')">
					<
					<div class="promo-swiper__text">
						<h2 class="about-swiper__title">Benvenuti</h2>
						<p class="about-swiper__descr">
							Come to Italy and let your event experience surpass the
							wildest expectations. A presto!
						</p>
					</div>
				</div>
				<div
					class="swiper-slide"
					data-explore-link="/3"
					style="background-image: url('./img/about-slider-image.png')">
					<div class="promo-swiper__text">
						<h2 class="about-swiper__title">Benvenuti</h2>
						<p class="about-swiper__descr">
							Come to Italy and let your event experience surpass the
							wildest expectations. A presto!
						</p>
					</div>
				</div>
			</div>
			<!-- If we need pagination -->
			<div class="swiper-navigation">
				<div class="swiper-pagination-wrapper">
					<div class="swiper-button-prev"></div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-next"></div>
				</div>
				<a href="/1" class="swiper-pagination-explore-btn">
					<span>explore </span>
					<svg
						width="6"
						height="13"
						viewBox="0 0 6 13"
						fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M5.5 6.5L0.5 12.5L2.27778 6.5L0.5 0.5L5.5 6.5Z"
							fill="#464646" />
					</svg>
				</a>
			</div>
		</div>
	<div class="service-swiper swiper">


		<div class="swiper-wrapper">
			<!-- Slides -->
			<div
				class="swiper-slide"
				data-explore-link="/1"
				style="background-image: url('./img/promo-bg-2.png')"">
				<div class="service-swiper-slide__title-wrapper">
					<h3 class="service-swiper-slide__title">Where to get married in Italy 1</h3>
					<h4 class="service-swiper-slide__subtitle">Venues</h4>
				</div>
				<div class="service-swiper-slide__text-wrapper">
					<h4 class="service-swiper-slide__text-heading"><span class="service-swiper-slide__text-heading-title">Villa</span> <div class="swiper-navigation">
						<div class="swiper-pagination-wrapper">
							<div class="swiper-button-prev"></div>
							<div class="swiper-pagination"></div>
							<div class="swiper-button-next"></div>
						</div>

					</div></h4>
					<p class="service-swiper-slide__text">As your wedding planners, we listen to you and we truly care. We keep you updated throughout the process. We’re generous with our time, schedule regular meetings, and connect you with </p>
				</div>
			</div>
			<div
				class="swiper-slide"
				data-explore-link="/2"
				style="background-image: url('./img/about-slider-image.png')">
				<div class="service-swiper-slide__title-wrapper">
					<h3 class="service-swiper-slide__title">Where to get married in Italy 2</h3>
					<h4 class="service-swiper-slide__subtitle">Venues</h4>
				</div>
				<div class="service-swiper-slide__text-wrapper">
					<h4 class="service-swiper-slide__text-heading"><span class="service-swiper-slide__text-heading-title">Villa</span> <div class="swiper-navigation">
						<div class="swiper-pagination-wrapper">
							<div class="swiper-button-prev"></div>
							<div class="swiper-pagination"></div>
							<div class="swiper-button-next"></div>
						</div>

					</div></h4>
					<p class="service-swiper-slide__text">As your wedding planners, we listen to you and we truly care. We keep you updated throughout the process. We’re generous with our time, schedule regular meetings, and connect you with </p>
				</div>
			</div>
			<div
				class="swiper-slide"
				data-explore-link="/3"
				style="background-image: url('./img/promo-bg-2.png')">
				<div class="service-swiper-slide__title-wrapper">
					<h3 class="service-swiper-slide__title">Where to get married in Italy 3</h3>
					<h4 class="service-swiper-slide__subtitle">Venues</h4>
				</div>
				<div class="service-swiper-slide__text-wrapper">
					<h4 class="service-swiper-slide__text-heading"><span class="service-swiper-slide__text-heading-title">Villa</span> <div class="swiper-navigation">
						<div class="swiper-pagination-wrapper">
							<div class="swiper-button-prev"></div>
							<div class="swiper-pagination"></div>
							<div class="swiper-button-next"></div>
						</div>

					</div></h4>
					<p class="service-swiper-slide__text">As your wedding planners, we listen to you and we truly care. We keep you updated throughout the process. We’re generous with our time, schedule regular meetings, and connect you with </p>
				</div>
			</div>
		</div>
		<!-- If we need pagination -->

	</div>
	<div class="container">
	<div class="service-categories">
			<div class="service-categories-text">
				<h4 class="service-categories__title">Services</h4>
				<p class="service-categories__text">In my event boutique you get everything you need, including venue selection, wedding photography and videography, floral design, hair and makeup artist services, live music, accommodation and much more to make your special day truly unforgettable!</p>
			</div>
			<div class="service-categories-items">
				<h5 class="service-categories-item"><span>venue selection services</span>
				</h5>
				<h5 class="service-categories-item"><span>paperwork assistance</span></h5>
				<h5 class="service-categories-item"><span>photography & videography</span></h5>
				<h5 class="service-categories-item"><span>concierge</span></h5>
				<h5 class="service-categories-item"><span>catering</span></h5>
				<h5 class="service-categories-item"><span>wedding cake</span></h5>
				<h5 class="service-categories-item"><span>design & florals</span></h5>
				<h5 class="service-categories-item"><span>welcome gifts</span></h5>
				<h5 class="service-categories-item"><span>stationery</span></h5>
				<h5 class="service-categories-item"><span>kids activities</span></h5>
				<h5 class="service-categories-item"><span>table styling</span></h5>
				<h5 class="service-categories-item"><span>lighting design</span></h5>
				<h5 class="service-categories-item"><span>day-of coordination & assistance</span></h5>
				<h5 class="service-categories-item"><span>music & entertainment</span></h5>
				<h5 class="service-categories-item"><span>bridal beauty</span></h5>
				<h5 class="service-categories-item"><span>transportation</span></h5>
				<h5 class="service-categories-item"><span>special services</span></h5>
				<a href="/" class="service-categories-item order"><span>Order now</span></a>
			</div>
		</div>
	</div>
</section>
