<section class="stories single">
	<div class="container">
			<div class="blog-single-breadcrumbs">
				<a href="" class="stories-single-breadcrumbs-item"> Lorem ipsum</a>
				<div
					class="stories-single-breadcrumbs-item blog-single-breadcrumbs-delimiter">
					\
				</div>
				<a href="" class="stories-single-breadcrumbs-item"> Lorem ipsum</a>
			</div>
			<div class="stories-single-title-wrapper">
				<h1 class="stories-single__title">O & M</h1>
				<h2 class="stories-single__subtitle">Lorem ipsum dolor ipsum ipsum  ipsum ipsum   </h2>
				<img src="./img/testimonials-main.svg" alt="" />
			</div>
			<div class="stories-images">
				<img data-modal-image="./img/about.png" src="./img/stories-single.png" alt="" class="stories-image image-1">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-2.png" alt="" class="stories-image image-2">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-3.png" alt="" class="stories-image image-3">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-4.png" alt="" class="stories-image image-4">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-5.png" alt="" class="stories-image image-5">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-6.png" alt="" class="stories-image image-6">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-7.png" alt="" class="stories-image image-7">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-8.png" alt="" class="stories-image image-8">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-9.png" alt="" class="stories-image image-9">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-10.png" alt="" class="stories-image image-10">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-11.png" alt="" class="stories-image image-11">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-12.png" alt="" class="stories-image image-12">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single.png" alt="" class="stories-image image-13">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-2.png" alt="" class="stories-image image-14">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-3.png" alt="" class="stories-image image-15">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-4.png" alt="" class="stories-image image-16">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-5.png" alt="" class="stories-image image-17">
				<img data-modal-image="./img/stories-modal.png" src="./img/stories-single-6.png" alt="" class="stories-image image-18">
			</div>
			<a href="/stories.html" class="stories-see-more">
				<span>see all</span>
				<svg width="12" height="26" viewBox="0 0 12 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.25 12.5574L-1.0978e-06 25.1147L4 12.5574L0 -4.91753e-07L11.25 12.5574Z" fill="#464646"/>
					</svg>
			</a>
			<div class="stories-items__wrapper">
				<a href="/stories-single.html">
					<div class="stories-item">
						<img
							src="./img/Stories.png"
							alt="Stories image"
							class="stories-item__image" />
						<h2 class="stories-item__title">
							Lorem ipsum dolor ipsum ipsum ipsum ipsum
						</h2>
					</div>
				</a>
				<a href="/stories-single.html">
					<div class="stories-item">
						<img
							src="./img/Stories.png"
							alt="Stories image"
							class="stories-item__image" />
						<h2 class="stories-item__title">
							Lorem ipsum dolor ipsum ipsum ipsum ipsum
						</h2>
					</div>
				</a>
				<a href="/stories-single.html">
					<div class="stories-item">
						<img
							src="./img/Stories.png"
							alt="Stories image"
							class="stories-item__image" />
						<h2 class="stories-item__title">
							Lorem ipsum dolor ipsum ipsum ipsum ipsum
						</h2>
					</div>
				</a>
			</div>
			<div class="stories-single-contacts">
				<h5 class="stories-single-contacts__text">Lorem ipsum dolor ipsum</h5>
				<a href="" class="btn stories-single-contacts__btn"><span>Contact me</span></a>
			</div>
		</div>
		<div class="stories-modal">
			<div class="stories-modal-content">
				<img src="./img/stories-modal.png" alt="Stories image" class="stories-modal-image">
				<div class="stories-modal-close">
					<svg  width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M17 12.5L2.3126e-07 25L6.04445 12.5L1.90735e-06 -4.84486e-07L17 12.5Z" fill="#464646"/>
						<path d="M6 12.5L23 2.02723e-07L16.9556 12.5L23 25L6 12.5Z" fill="#464646"/>
					</svg>
				</div>
			</div>
		</div>
</section>
