<section class="stories">
    <div class="container">
        <div class="quote">
            <q
                >Anyone coming here as a guest leaves as a friend with
                unrivalled memories cherished for many years to come</q
            >
            <img src="./img/quoute.svg" alt="quote image" class="quote-image" />
        </div>
        <div class="stories-items__wrapper">
            <a href="/stories-single.html">
                <div class="stories-item">
                    <img
                        src="./img/Stories.png"
                        alt="Stories image"
                        class="stories-item__image" />
                    <h2 class="stories-item__title">
                        Lorem ipsum dolor ipsum ipsum ipsum ipsum
                    </h2>
                </div>
            </a>
            <a href="/stories-single.html">
                <div class="stories-item">
                    <img
                        src="./img/Stories.png"
                        alt="Stories image"
                        class="stories-item__image" />
                    <h2 class="stories-item__title">
                        Lorem ipsum dolor ipsum ipsum ipsum ipsum
                    </h2>
                </div>
            </a>
            <a href="/stories-single.html">
                <div class="stories-item">
                    <img
                        src="./img/Stories.png"
                        alt="Stories image"
                        class="stories-item__image" />
                    <h2 class="stories-item__title">
                        Lorem ipsum dolor ipsum ipsum ipsum ipsum
                    </h2>
                </div>
            </a>
        </div>
    </div>
</section>
