<section class="testimonials-main">
    <div class="container">
        <div class="testimonials-main__title-wrapper">
            <h2 class="testimonials-main__title">Testimonials</h2>
            <p class="testimonials-main__subtitle">
                What our customers say about us
            </p>
            <img src="./img/testimonials-main.svg" alt="" />
        </div>
        <div class="testimonials-slider-wrapper">
            <div class="swiper testimonials-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonials-item-wrapper">
                            <h3 class="testimonials-main-item__title">M&C</h3>
                            <p class="testimonials-main-item__text">
                                Tania helped us plan our wedding ceremony in
                                Florence, Italy while we were still in the US.
                                She managed hiring the officiant, the flower
                                designer, the hair stylist, the photographer,
                                and arranging for the venue itself, and
                                everything went off without a hitch. The
                                individuals she hired were almost entirely
                                women, which was great, and everyone we worked
                                with did a great job. I would definitely use her
                                again for an event in central Italy.
                            </p>
                            <a href="/" class="testimonials-read-more">
                                <span>see photo</span>
                                <svg
                                    width="6"
                                    height="13"
                                    viewBox="0 0 6 13"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.5 6.5L0.5 12.5L2.27778 6.5L0.5 0.5L5.5 6.5Z"
                                        fill="#464646" />
                                </svg>
                            </a>
                        </div>
                    </div>
					<div class="swiper-slide">
                        <div class="testimonials-item-wrapper">
                            <h3 class="testimonials-main-item__title">M&C</h3>
                            <p class="testimonials-main-item__text">
                                Tania helped us plan our wedding ceremony in
                                Florence, Italy while we were still in the US.
                                She managed hiring the officiant, the flower
                                designer, the hair stylist, the photographer,
                                and arranging for the venue itself, and
                                everything went off without a hitch. The
                                individuals she hired were almost entirely
                                women, which was great, and everyone we worked
                                with did a great job. I would definitely use her
                                again for an event in central Italy.
                            </p>
                            <a href="/" class="testimonials-read-more">
                                <span>see photo</span>
                                <svg
                                    width="6"
                                    height="13"
                                    viewBox="0 0 6 13"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.5 6.5L0.5 12.5L2.27778 6.5L0.5 0.5L5.5 6.5Z"
                                        fill="#464646" />
                                </svg>
                            </a>
                        </div>
                    </div>
					<div class="swiper-slide">
                        <div class="testimonials-item-wrapper">
                            <h3 class="testimonials-main-item__title">M&C</h3>
                            <p class="testimonials-main-item__text">
                                Tania helped us plan our wedding ceremony in
                                Florence, Italy while we were still in the US.
                                She managed hiring the officiant, the flower
                                designer, the hair stylist, the photographer,
                                and arranging for the venue itself, and
                                everything went off without a hitch. The
                                individuals she hired were almost entirely
                                women, which was great, and everyone we worked
                                with did a great job. I would definitely use her
                                again for an event in central Italy.
                            </p>
                            <a href="/" class="testimonials-read-more">
                                <span>see photo</span>
                                <svg
                                    width="6"
                                    height="13"
                                    viewBox="0 0 6 13"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.5 6.5L0.5 12.5L2.27778 6.5L0.5 0.5L5.5 6.5Z"
                                        fill="#464646" />
                                </svg>
                            </a>
                        </div>
                    </div>
					<div class="swiper-slide">
                        <div class="testimonials-item-wrapper">
                            <h3 class="testimonials-main-item__title">M&C</h3>
                            <p class="testimonials-main-item__text">
                                Tania helped us plan our wedding ceremony in
                                Florence, Italy while we were still in the US.
                                She managed hiring the officiant, the flower
                                designer, the hair stylist, the photographer,
                                and arranging for the venue itself, and
                                everything went off without a hitch. The
                                individuals she hired were almost entirely
                                women, which was great, and everyone we worked
                                with did a great job. I would definitely use her
                                again for an event in central Italy.
                            </p>
                            <a href="/" class="testimonials-read-more">
                                <span>see photo</span>
                                <svg
                                    width="6"
                                    height="13"
                                    viewBox="0 0 6 13"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.5 6.5L0.5 12.5L2.27778 6.5L0.5 0.5L5.5 6.5Z"
                                        fill="#464646" />
                                </svg>
                            </a>
                        </div>
                    </div>
					<div class="swiper-slide">
                        <div class="testimonials-item-wrapper">
                            <h3 class="testimonials-main-item__title">M&C</h3>
                            <p class="testimonials-main-item__text">
                                Tania helped us plan our wedding ceremony in
                                Florence, Italy while we were still in the US.
                                She managed hiring the officiant, the flower
                                designer, the hair stylist, the photographer,
                                and arranging for the venue itself, and
                                everything went off without a hitch. The
                                individuals she hired were almost entirely
                                women, which was great, and everyone we worked
                                with did a great job. I would definitely use her
                                again for an event in central Italy.
                            </p>
                            <a href="/" class="testimonials-read-more">
                                <span>see photo</span>
                                <svg
                                    width="6"
                                    height="13"
                                    viewBox="0 0 6 13"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.5 6.5L0.5 12.5L2.27778 6.5L0.5 0.5L5.5 6.5Z"
                                        fill="#464646" />
                                </svg>
                            </a>
                        </div>
                    </div>
					<div class="swiper-slide">
                        <div class="testimonials-item-wrapper">
                            <h3 class="testimonials-main-item__title">M&C</h3>
                            <p class="testimonials-main-item__text">
                                Tania helped us plan our wedding ceremony in
                                Florence, Italy while we were still in the US.
                                She managed hiring the officiant, the flower
                                designer, the hair stylist, the photographer,
                                and arranging for the venue itself, and
                                everything went off without a hitch. The
                                individuals she hired were almost entirely
                                women, which was great, and everyone we worked
                                with did a great job. I would definitely use her
                                again for an event in central Italy.
                            </p>
                            <a href="/" class="testimonials-read-more">
                                <span>see photo</span>
                                <svg
                                    width="6"
                                    height="13"
                                    viewBox="0 0 6 13"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.5 6.5L0.5 12.5L2.27778 6.5L0.5 0.5L5.5 6.5Z"
                                        fill="#464646" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
			<div class="testimonials-navigation-wrapper">
				<div class="testimonial-button-prev">
					<svg width="10" height="21" viewBox="0 0 10 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0.996095 10.5L9.9961 1.18021e-06L6.79609 10.5L9.99609 21L0.996095 10.5Z" fill="#464646"/>
						</svg>
				</div>

				<div class="swiper-pagination"></div>
					<div class="testimonial-button-next">
						<svg width="10" height="21" viewBox="0 0 10 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.996095 10.5L9.9961 1.18021e-06L6.79609 10.5L9.99609 21L0.996095 10.5Z" fill="#464646"/>
							</svg>
        </div>
    </div>
</section>
