<section class="testimonials">
  <div class="container">
    <div class="quote">
        <q>Tania was a person who helped us arrange almost everything. Her team was just perfect, precise and friendly!</q>
      <img src="./img/quoute.svg" alt="quote image" class="quote-image">
    </div>
    <div class="testimonials-wrapper">
      <div class="testimonials-item">
<!--        Todo image fix (remove border) -->
        <img src="./img/testimonials-image.png" alt="Testimonial image" class="testimonials-item__image">
        <div class="testimonials-item__text">
          <h3 class="testimonials-item__title">name</h3>
          <p class="testimonials-item__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi, pretium eu tellus interdum vel velit turpis sed. Amet et gravida venenatis senectus nunc. Ut blandit odio porttitor sagittis, a, ultrices morbi. Eget eget enim, ultricies maecenas urna. Duis aenean pulvinar amet tincidunt. Maecenas faucibus eget faucibus proin. Purus arcu, ultrices vitae non lobortis et mus. Tempor enim adipiscing aliquet pharetra ut ornare felis fames blandit. Amet pellentesque rhoncus arcu in neque eget porttitor. Quis vitae tristique nibh hac arcu vel. In bibendum condimentum id amet felis tincidunt.</p>
          <p class="testimonials-item__paragraph">Ullamcorper congue suspendisse lorem velit. Dui pellentesque suspendisse quis facilisi potenti. Morbi etiam sed semper nunc, ultrices nec, mauris odio quam. Magna egestas massa consequat pharetra sodales nunc. Vitae lectus nec, enim pellentesque. Pharetra dui, massa nullam orci, quam. Suspendisse aenean luctus id odio. In in odio parturient pulvinar. Ultricies phasellus eget etiam ac aliquam. Aliquam aliquet sagittis ipsum ut nulla nec, sit arcu. Ornare purus, libero, quisque mauris, ultrices sit libero. Feugiat faucibus lorem montes, cras. Vel morbi iaculis orci, scelerisque laoreet.</p>
          <a href="" class="more">See photo<svg width="22" height="20" viewBox="0 0 22 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.3008 25.0004L0.800782 49.6004L8.08967 25.0004L0.800784 0.40039L21.3008 25.0004Z" fill="#464646"/>
          </svg>

          </a>
        </div>
      </div>
      <div class="testimonials-item">
        <!--        Todo image fix (remove border) -->
        <img src="./img/testimonials-image.png" alt="Testimonial image" class="testimonials-item__image">
        <div class="testimonials-item__text">
          <h3 class="testimonials-item__title">name</h3>
          <p class="testimonials-item__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi, pretium eu tellus interdum vel velit turpis sed. Amet et gravida venenatis senectus nunc. Ut blandit odio porttitor sagittis, a, ultrices morbi. Eget eget enim, ultricies maecenas urna. Duis aenean pulvinar amet tincidunt. Maecenas faucibus eget faucibus proin. Purus arcu, ultrices vitae non lobortis et mus. Tempor enim adipiscing aliquet pharetra ut ornare felis fames blandit. Amet pellentesque rhoncus arcu in neque eget porttitor. Quis vitae tristique nibh hac arcu vel. In bibendum condimentum id amet felis tincidunt.</p>
          <p class="testimonials-item__paragraph">Ullamcorper congue suspendisse lorem velit. Dui pellentesque suspendisse quis facilisi potenti. Morbi etiam sed semper nunc, ultrices nec, mauris odio quam. Magna egestas massa consequat pharetra sodales nunc. Vitae lectus nec, enim pellentesque. Pharetra dui, massa nullam orci, quam. Suspendisse aenean luctus id odio. In in odio parturient pulvinar. Ultricies phasellus eget etiam ac aliquam. Aliquam aliquet sagittis ipsum ut nulla nec, sit arcu. Ornare purus, libero, quisque mauris, ultrices sit libero. Feugiat faucibus lorem montes, cras. Vel morbi iaculis orci, scelerisque laoreet.</p>
          <a href="" class="more">See photo<svg width="22" height="20" viewBox="0 0 22 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.3008 25.0004L0.800782 49.6004L8.08967 25.0004L0.800784 0.40039L21.3008 25.0004Z" fill="#464646"/>
          </svg>

          </a>
        </div>
      </div>
      <div class="testimonials-item">
        <!--        Todo image fix (remove border) -->
        <img src="./img/testimonials-image.png" alt="Testimonial image" class="testimonials-item__image">
        <div class="testimonials-item__text">
          <h3 class="testimonials-item__title">name</h3>
          <p class="testimonials-item__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi, pretium eu tellus interdum vel velit turpis sed. Amet et gravida venenatis senectus nunc. Ut blandit odio porttitor sagittis, a, ultrices morbi. Eget eget enim, ultricies maecenas urna. Duis aenean pulvinar amet tincidunt. Maecenas faucibus eget faucibus proin. Purus arcu, ultrices vitae non lobortis et mus. Tempor enim adipiscing aliquet pharetra ut ornare felis fames blandit. Amet pellentesque rhoncus arcu in neque eget porttitor. Quis vitae tristique nibh hac arcu vel. In bibendum condimentum id amet felis tincidunt.</p>
          <p class="testimonials-item__paragraph">Ullamcorper congue suspendisse lorem velit. Dui pellentesque suspendisse quis facilisi potenti. Morbi etiam sed semper nunc, ultrices nec, mauris odio quam. Magna egestas massa consequat pharetra sodales nunc. Vitae lectus nec, enim pellentesque. Pharetra dui, massa nullam orci, quam. Suspendisse aenean luctus id odio. In in odio parturient pulvinar. Ultricies phasellus eget etiam ac aliquam. Aliquam aliquet sagittis ipsum ut nulla nec, sit arcu. Ornare purus, libero, quisque mauris, ultrices sit libero. Feugiat faucibus lorem montes, cras. Vel morbi iaculis orci, scelerisque laoreet.</p>
          <a href="" class="more">See photo<svg width="22" height="20" viewBox="0 0 22 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.3008 25.0004L0.800782 49.6004L8.08967 25.0004L0.800784 0.40039L21.3008 25.0004Z" fill="#464646"/>
          </svg>

          </a>
        </div>
      </div>
      <div class="testimonials-item">
        <!--        Todo image fix (remove border) -->
        <img src="./img/testimonials-image.png" alt="Testimonial image" class="testimonials-item__image">
        <div class="testimonials-item__text">
          <h3 class="testimonials-item__title">name</h3>
          <p class="testimonials-item__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi, pretium eu tellus interdum vel velit turpis sed. Amet et gravida venenatis senectus nunc. Ut blandit odio porttitor sagittis, a, ultrices morbi. Eget eget enim, ultricies maecenas urna. Duis aenean pulvinar amet tincidunt. Maecenas faucibus eget faucibus proin. Purus arcu, ultrices vitae non lobortis et mus. Tempor enim adipiscing aliquet pharetra ut ornare felis fames blandit. Amet pellentesque rhoncus arcu in neque eget porttitor. Quis vitae tristique nibh hac arcu vel. In bibendum condimentum id amet felis tincidunt.</p>
          <p class="testimonials-item__paragraph">Ullamcorper congue suspendisse lorem velit. Dui pellentesque suspendisse quis facilisi potenti. Morbi etiam sed semper nunc, ultrices nec, mauris odio quam. Magna egestas massa consequat pharetra sodales nunc. Vitae lectus nec, enim pellentesque. Pharetra dui, massa nullam orci, quam. Suspendisse aenean luctus id odio. In in odio parturient pulvinar. Ultricies phasellus eget etiam ac aliquam. Aliquam aliquet sagittis ipsum ut nulla nec, sit arcu. Ornare purus, libero, quisque mauris, ultrices sit libero. Feugiat faucibus lorem montes, cras. Vel morbi iaculis orci, scelerisque laoreet.</p>
          <a href="" class="more">See photo<svg width="22" height="20" viewBox="0 0 22 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.3008 25.0004L0.800782 49.6004L8.08967 25.0004L0.800784 0.40039L21.3008 25.0004Z" fill="#464646"/>
          </svg>

          </a>
        </div>
      </div>
      <div class="testimonials-item">
        <!--        Todo image fix (remove border) -->
        <img src="./img/testimonials-image.png" alt="Testimonial image" class="testimonials-item__image">
        <div class="testimonials-item__text">
          <h3 class="testimonials-item__title">name</h3>
          <p class="testimonials-item__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi, pretium eu tellus interdum vel velit turpis sed. Amet et gravida venenatis senectus nunc. Ut blandit odio porttitor sagittis, a, ultrices morbi. Eget eget enim, ultricies maecenas urna. Duis aenean pulvinar amet tincidunt. Maecenas faucibus eget faucibus proin. Purus arcu, ultrices vitae non lobortis et mus. Tempor enim adipiscing aliquet pharetra ut ornare felis fames blandit. Amet pellentesque rhoncus arcu in neque eget porttitor. Quis vitae tristique nibh hac arcu vel. In bibendum condimentum id amet felis tincidunt.</p>
          <p class="testimonials-item__paragraph">Ullamcorper congue suspendisse lorem velit. Dui pellentesque suspendisse quis facilisi potenti. Morbi etiam sed semper nunc, ultrices nec, mauris odio quam. Magna egestas massa consequat pharetra sodales nunc. Vitae lectus nec, enim pellentesque. Pharetra dui, massa nullam orci, quam. Suspendisse aenean luctus id odio. In in odio parturient pulvinar. Ultricies phasellus eget etiam ac aliquam. Aliquam aliquet sagittis ipsum ut nulla nec, sit arcu. Ornare purus, libero, quisque mauris, ultrices sit libero. Feugiat faucibus lorem montes, cras. Vel morbi iaculis orci, scelerisque laoreet.</p>
          <a href="" class="more">See photo<svg width="22" height="20" viewBox="0 0 22 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.3008 25.0004L0.800782 49.6004L8.08967 25.0004L0.800784 0.40039L21.3008 25.0004Z" fill="#464646"/>
          </svg>

          </a>
        </div>
      </div>
    </div>
  </div>
</section>
