<section class="wedding-blog">
	<div class="container">
		<div class="wedding-blog-wrapper">
			<div class="wedding-blog__text-wrapper">
				<h3 class="wedding-blog__title">Wedding
					<br>	Blog</h3>
				<p class="wedding-blog__text">My work inspires me to share with you the knowledges I get. I’m not going to keep it at all and always glad to write some interesting and helpful topics for you. Here you can find my articles about weddings, season trends, also tips and tricks for your desired event stories in Italy.
				</p>
				<a href="" class="btn wedding-btn"><span>Open blog</span></a>
			</div>
			<div class="wedding-blog__images-wrapper">
				<div class="wedding-blog__images-column">
					<div class="wedding-blog__images-item">
						<img src="./img/wedding-blog-1.png" alt="Wedding blog image" class="wedding-blog-image">
						<h4 class="wedding-blog__images-title">What is an Italian wedding like: essentials</h4>
					</div>
					<div class="wedding-blog__images-item">
						<img src="./img/wedding-blog-2.png" alt="Wedding blog image" class="wedding-blog-image">
						<h4 class="wedding-blog__images-title">Blessing: married twice</h4>
					</div>
				</div>
				<div class="wedding-blog__images-column">
					<div class="wedding-blog__images-item">
						<img src="./img/wedding-blog-3.png" alt="Wedding blog image" class="wedding-blog-image">
						<h4 class="wedding-blog__images-title">Why do I need a wedding planner?</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img src="./img/contacts-bg.png" alt="bg" class="contacts-bg">
</section>
