<section class="welcome">
    <div class="background-text">Welcome</div>

    <div class="container">
        <div class="quote">
            <q
                >Anyone coming here as a guest leaves as a friend with
                unrivalled memories cherished for many years to come</q
            >
        </div>
        <div class="welcome__wrapper">
            <div class="welcome__item">
                <h2 class="welcome__item-title">Services</h2>
                <a href="">
                    <img
                        src="../img/welcome-1.png"
                        alt=""
                        class="welcome__item-img" />
                </a>
            </div>
            <div class="welcome__item">
                <h2 class="welcome__item-title">Stories</h2>
                <a href="">
                    <img
                        src="../img/welcome-2.png"
                        alt=""
                        class="welcome__item-img" />
                </a>
            </div>
            <div class="welcome__item">
                <h2 class="welcome__item-title">Contacts</h2>
                <a href="/contacts.html">
                    <img
                        src="../img/welcome-3.png"
                        alt=""
                        class="welcome__item-img" />
                </a>
            </div>
        </div>
    </div>
</section>
