<section class="welcome">
    <div class="background-text">Welcome</div>

    <div class="container">
        <div class="quote">
            <q
                >Anyone coming here as a guest leaves as a friend with
                unrivalled memories cherished for many years to come</q
            >
        </div>
        <div class="welcome__wrapper">
            <div class="welcome__item">
                <h2 class="welcome__item-title">Services</h2>
                <a href="">
                    <img
                        src="../img/welcome-1.png"
                        alt=""
                        class="welcome__item-img" />
                </a>
            </div>
            <div class="welcome__item">
                <h2 class="welcome__item-title">Stories</h2>
                <a href="">
                    <img
                        src="../img/welcome-2.png"
                        alt=""
                        class="welcome__item-img" />
                </a>
            </div>
            <div class="welcome__item">
                <h2 class="welcome__item-title">Contacts</h2>
                <a href="/contacts.html">
                    <img
                        src="../img/welcome-3.png"
                        alt=""
                        class="welcome__item-img" />
                </a>
            </div>
        </div>

    </div>
	<div class="why">
		<div class="why__text-wrapper">
			<h3 class="why__title">Wait, why ITALEA?</h3>
			<p class="why__text">Our concept is based on telling a story.
				One event is like one story, one tale or even a fairytale featuring
				a client as the main character. Being my client, you become the star of the show and have the undaunting support throughout our collaboration.</p>
			<a href="/stories.html" class="btn why__btn"><span>Open Stories</span></a>
		</div>
		<div class="why__images-wrapper">
			<img src="./img/why-1.png" alt="Why image" class="why-image">
			<img src="./img/why-2.png" alt="Why image" class="why-image">
			<img src="./img/why-3.png" alt="Why image" class="why-image">
		</div>
	</div>
</section>
