// настройка sass переменных. Выносить сюда цвета, шрифты, ширину контейнера
$font-family: "Dihjauti", sans-serif;
$content-width: 1620px;
$container-offset: 150px;
$container-width: calc($content-width + ($container-offset * 2)); // colors
$light-color: #ede3de;
$black-color: #464646;
$white-color: #ffecef;
$pink-color: #b04252;
